<%- include("nav.ejs") %>
    <div class="container">

        <div class="box">
            

            <h1 id="date">
                <%=date %>
            </h1>

           


            <h3 id="work-count"><%= item.length %> Work</h3>

            <form action="/" method="post">

                <input type="text" class="txt-field" name="inp" placeholder="New item">
                <input type="submit" id="plus-icon" value="+">
            </form>
    
            <div class="work-list" id="checklist">

                <% for(var i = 0;i<item.length;i++) { %>

                    <input value="<%= i %>" name="r" type="checkbox" id="0<%=i%>">
                    <label for="0<%=i%>"><%= item[i] %></label>
                <% } %>

            </div>
        </div>
    </div>

    <%- include("footer.ejs") %>